.all{
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
}

.card {
  width: 30%;
  margin: 10px 10px;
  float: left;
}

.card img{
  width: 100%;
}

.regresar{
  background-color: rgb(5, 52, 5);
  color: white;
  text-decoration: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
}

.regresar:hover{
  background-color: rgb(106, 10, 10);
  color: white;
}

.img-logo{
  width: 10%;
}