.all{
  width: 80%;
}

.card {
  margin-left: 0px;
  width: 18%;
  border: 2px solid rgb(65, 133, 61);
  margin: 10px 10px;
  float: left;
  padding: 25px;
}

.card .picture{
  width: 100%;
  margin: 0 auto;
}

.container .titulo{
  text-align: center;
  font-size: 25px;
  margin: 0;
}

.container .text-sec {
  color: gray;
}

/*Estilos del boton*/
.btn-ver-mas{
  background-color: white;
  color: white;
  background-color:  rgb(65, 133, 61);
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  /* width: 100%; */
  /* display: block; */
  text-decoration: none;
}

.btn-ver-mas:hover {
  background-color: rgb(45, 94, 42);
  color: white;
}

.btn-ver-mas{
  margin: 0 auto;
}